body {
  background-color: rgb(47, 45, 45);
}


.carousel {
  margin: auto;
  height: 400px;
  max-width: 280px;
}

.carousel-control-next,
.carousel-control-prev {
  height: 470px;
}


.carousel-item {
  height: auto;
  max-width: 280px;
}