body {
  background-color: rgb(47, 45, 45);
}

.carousel {
  width: 280px;
  margin: 0 auto;
}

.carousel-control-next,
.carousel-control-prev {
  height: 480px;
}

.carousel-item {
  height: 470px;
  max-width: 280px;
}

#uno {
  margin-bottom: 20px;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.information {
  width: 200px;
}